## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

In [2]:
gkey

'AIzaSyA7aMqKtXa7_c_BWQL_R3ZA1D3n94PqrlU'

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Vila Velha,-20.3297,-40.2925,71.94,92,1,3.98,BR,2022-04-30 04:01:19
1,1,Chapais,49.7834,-74.8492,26.80,94,8,5.86,CA,2022-04-30 04:04:06
2,2,Kamenka,51.3223,42.7678,44.51,79,10,8.86,RU,2022-04-30 04:02:05
3,3,Port Elizabeth,-33.9180,25.5701,61.32,73,0,10.00,ZA,2022-04-30 03:59:17
4,4,Rikitea,-23.1203,-134.9692,77.13,68,100,16.15,PF,2022-04-30 04:04:06

In [4]:

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input("What is the minimum temperature you would like for your trip?"))
max_temp=float(input("What is the maximum temperature you would like for you trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for you trip?90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&\
                                    (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Vila Velha,-20.3297,-40.2925,71.94,92,1,3.98,BR,2022-04-30 04:01:19
4,4,Rikitea,-23.1203,-134.9692,77.13,68,100,16.15,PF,2022-04-30 04:04:06
5,5,Sinnamary,5.3833,-52.9500,78.94,82,64,11.65,GF,2022-04-30 04:04:07
6,6,Sao Filipe,14.8961,-24.4956,70.95,69,9,8.03,CV,2022-04-30 04:01:42
7,7,Maragogi,-9.0122,-35.2225,75.81,80,100,4.21,BR,2022-04-30 04:04:07
9,9,Caxito,-8.5785,13.6643,72.93,99,100,0.85,AO,2022-04-30 04:04:08
12,12,Meulaboh,4.1363,96.1285,85.62,68,100,0.83,ID,2022-04-30 04:04:09
15,15,Iracoubo,5.4802,-53.2011,79.05,80,57,11.79,GF,2022-04-30 04:04:09
16,16,Hilo,19.7297,-155.0900,75.27,88,100,8.05,US,2022-04-30 04:04:10
18,18,Saint-Philippe,-21.3585,55.7679,78.22,82,44,14.45,RE,2022-04-30 04:02:59

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       1
Date          0
dtype: int64

In [9]:
preferred_cities_df.count()

City_ID       233
City          233
Lat           233
Lng           233
Max Temp      233
Humidity      233
Cloudiness    233
Wind Speed    233
Country       232
Date          233
dtype: int64

In [10]:
preferred_cities_df.notnull().sum()

City_ID       233
City          233
Lat           233
Lng           233
Max Temp      233
Humidity      233
Cloudiness    233
Wind Speed    233
Country       232
Date          233
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [12]:
clean_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Vila Velha,-20.3297,-40.2925,71.94,92,1,3.98,BR,2022-04-30 04:01:19
4,4,Rikitea,-23.1203,-134.9692,77.13,68,100,16.15,PF,2022-04-30 04:04:06
5,5,Sinnamary,5.3833,-52.9500,78.94,82,64,11.65,GF,2022-04-30 04:04:07
6,6,Sao Filipe,14.8961,-24.4956,70.95,69,9,8.03,CV,2022-04-30 04:01:42
7,7,Maragogi,-9.0122,-35.2225,75.81,80,100,4.21,BR,2022-04-30 04:04:07

In [13]:
clean_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df.copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,0,Vila Velha,-20.3297,-40.2925,71.94,92,1,3.98,BR,2022-04-30 04:01:19,
4,4,Rikitea,-23.1203,-134.9692,77.13,68,100,16.15,PF,2022-04-30 04:04:06,
5,5,Sinnamary,5.3833,-52.9500,78.94,82,64,11.65,GF,2022-04-30 04:04:07,
6,6,Sao Filipe,14.8961,-24.4956,70.95,69,9,8.03,CV,2022-04-30 04:01:42,
7,7,Maragogi,-9.0122,-35.2225,75.81,80,100,4.21,BR,2022-04-30 04:04:07,

In [15]:
hotel_df=hotel_df[["City", "Country", "Max Temp", "Cloudiness", "Lat", "Lng", "Hotel Name"]]

hotel_df.head()

         City Country  Max Temp  Cloudiness      Lat       Lng Hotel Name
0  Vila Velha      BR     71.94           1 -20.3297  -40.2925
4     Rikitea      PF     77.13         100 -23.1203 -134.9692
5   Sinnamary      GF     78.94          64   5.3833  -52.9500
6  Sao Filipe      CV     70.95           9  14.8961  -24.4956
7    Maragogi      BR     75.81         100  -9.0122  -35.2225

In [16]:
hotel_df.rename(columns={'Cloudiness':'Current Description'},inplace=True)

hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vila Velha,BR,71.94,1,-20.3297,-40.2925,
4,Rikitea,PF,77.13,100,-23.1203,-134.9692,
5,Sinnamary,GF,78.94,64,5.3833,-52.9500,
6,Sao Filipe,CV,70.95,9,14.8961,-24.4956,
7,Maragogi,BR,75.81,100,-9.0122,-35.2225,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": "gkey"
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels=requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [19]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vila Velha,BR,71.94,1,-20.3297,-40.2925,Hotel Vitória Palace
4,Rikitea,PF,77.13,100,-23.1203,-134.9692,People ThankYou
5,Sinnamary,GF,78.94,64,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
6,Sao Filipe,CV,70.95,9,14.8961,-24.4956,Hotel Xaguate
7,Maragogi,BR,75.81,100,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort

In [20]:
# 7. Drop the rows where there is no Hotel Name.
hotel_drop_df=hotel_df.dropna()

In [33]:
hotel_drop_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vila Velha,BR,71.94,1,-20.3297,-40.2925,Hotel Vitória Palace
4,Rikitea,PF,77.13,100,-23.1203,-134.9692,People ThankYou
5,Sinnamary,GF,78.94,64,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
6,Sao Filipe,CV,70.95,9,14.8961,-24.4956,Hotel Xaguate
7,Maragogi,BR,75.81,100,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort

In [34]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
hotel_drop_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map. 
figure_layout = {
    'width': '1000px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}

coordinates = hotel_df.loc[:, ["Lat", "Lng"]].values


popups = []
for indx, row in hotel_df.iterrows():
    info_box_template = f"""
    <dl>
    <dt>Hotel Name</dt><dd>{row["Hotel Name"]}</dd>
    <dt>City</dt><dd>{row["City"]}</dd>
    <dt>Country</dt><dd>{row["Country"]}</dd>
    <dt>Weather Description</dt><dd>{row["Current Description"]}</dd>
    <dt>Max Temp</dt><dd>{row["Max Temp"]}</dd>
    </dl>
    """
    popups.append(info_box_template)


fig = gmaps.figure(layout=figure_layout, map_type='HYBRID')

markers = gmaps.marker_layer(coordinates, info_box_content=popups)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='1000px'))